.card-container {
  background-color: #FBFFFE;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 5px;
  h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    letter-spacing: 2px;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 75%;
  }
}
