.card-container {
  background-color: #FBFFFE;
  max-width: 800px;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 5px;
  h3 {
    opacity: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    letter-spacing: 2px;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    width: 75%;
    margin-bottom: 48px;
  }
  p {
    font-size: 16px;
    padding: 20px 40px 0 40px;
  }
  h4 {
    text-align: center;
  }
}
a {
  width: 50%;
  .project-card {
  padding: 16px;
  display: flex;
  position: relative;
  transition: 0.5s;
  img {
    width: 318px;
  }
  h4 {
      font-family: 'Saira Condensed', sans-serif;
      position: absolute;
      left: 24px;
      color: #FBFFFE;
      z-index: 1;
  }
  .project-img {
    position:absolute;
    width: 318px;
    height: 173px;
    background:rgba(0,0,0,0.3);
  }
  .small-img {
      object-fit: fill;
      height: 173px;
  }
}
.project-card:hover {
  transform: scale(1.02);
}
}

.project-cards {
  width: 100%;
}

.center {
  justify-content: center;
  margin: 0 auto;
}
