.card-container {
  background-color: #FBFFFE;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 5px;
  h3 {
    opacity: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    letter-spacing: 2px;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    width: 75%;
  }
  p {
    font-size: 16px;
    padding: 20px 40px 0 40px;
  }
  h4 {
    text-align: center;
  }
}

