.header-container {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-family: 'Saira Condensed', sans-serif;
  h1 {
    color: white;
    font-size: 80px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: -20px;
  }
  h2 {
    color: white;
    font-size: 40px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  h3 {
    color: #D98324;
    letter-spacing: 2px;
  }
}
