.outer-container {
  position: relative;
  height: 100%;
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#2D3047, #08090A);
}
.outer-container .page-content {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding-bottom: 32px;
}

body {
  margin: 0 auto;
}

form {
  padding: 32px;
}

.feedback-input {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { border: 2px solid #D98324; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 25%;
  margin: 0 auto;
  background: #D98324;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #FBFFFE;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #cf791b;
}
