<div class="header-container">
  <h1>Thomas Niblo</h1>
  <h2>ニブロ トーマス</h2>
  <h3>FULL-STACK WEB DEVELOPER</h3>
</div>
<div class="card-container">
  <h3>ABOUT ME</h3>
  <p>Welcome. My name is Tom, and I'm a developer aimed at creating responsive and sleek website designs. I have a background in design and content production, and since last year I've added programming skills to my repertoire.</p>

  <p>With experience working on MVP systems both as a solo developer and as parts of a larger team, and over 3 years experience of living in Japan. As a graduate of the #1 rated coding bootcamp in the world, Le Wagon, I'm keen to move on from solo projects and add my skills to an organised team.</p>

  <p>Outside of programming, I'm an avid reader, painter, animal lover and gamer.</p>
</div>
