<div class="header-container">
  <h1>Thomas Niblo</h1>
  <h2>ニブロ トーマス</h2>
  <h3>FULL-STACK WEB DEVELOPER</h3>
  <div class="icons">
    <div class="small-icon icon transform-opacity"><a href="mailto:  tlum5555@gmail.com"><i class="fas fa-envelope"></i></a></div>
    <div class="small-icon icon transform-opacity"><a href="https://www.linkedin.com/in/lum555/"><i class="fab fa-linkedin"></i></a></div>
    <div class="small-icon icon transform-opacity"><a href="https://github.com/lum555/"><i class="fab fa-github-square"></i></a></div>
  </div>
</div>
<div class="card-container">
  <h3>ABOUT ME</h3>
  <p>Welcome. My name is Tom, and I'm a developer aimed at creating responsive and sleek website designs. I have a background in design and content production, and since last year I've added programming skills to my repertoire.</p>

  <p>With experience working on MVP systems both as a solo developer and as parts of a larger team, and over 3 years experience of living in Japan. As a graduate of the #1 rated coding bootcamp in the world, Le Wagon, I'm keen to move on from solo projects and add my skills to an organised team.</p>

  <p>Outside of programming, I'm an avid reader, painter, animal lover and gamer.</p>

  <h3>SKILLS</h3>

  <p>My stack includes Ruby on Rails, HTML5, CSS, SASS, SQL, Javascript and Vue. Check out my <a href="https://github.com/lum555">github</a> or <a href="mailto:tlum5555@gmail.com">shoot me an e-mail</a> for further information!</p>

  <div class="icons top-margin">
    <div class="palette icon"><i class="fas fa-palette"></i><h4>FRONT-END</h4></div>
    <div class="arrows icon"><i class="fas fa-arrows-alt"><h4>UI/UX DESIGN</h4></i></div>
    <div class="terminal icon"><i class="fas fa-terminal"></i><h4>BACK-END</h4></div>
  </div>

  <h3>PROJECTS</h3>

  <div class="project-cards">>
    <div class="project-row">
      <a href='http://www.affini.me' target="_blank">
        <div class="project-card"><h4>Affini.me</h4><div class="project-img"></div><img src="https://res.cloudinary.com/depg0gzqj/image/upload/v1579510269/affini_vid_xdh3ou.gif"></div>
      </a>
      <a href='http://edumate-310.herokuapp.com/' target="_blank">
        <div class="project-card"><h4>Edumate</h4><div class="project-img"></div><img src="https://res.cloudinary.com/depg0gzqj/image/upload/v1579510277/edumate_vid_o76oim.gif"></div>
      </a>
    </div>
    <div class="project-row">
      <a href='https://cocktail-heroku.herokuapp.com/cocktails' target="_blank">
        <div class="project-card"><h4>The Watering Hole</h4><div class="project-img"></div><img src="https://res.cloudinary.com/depg0gzqj/image/upload/v1580099152/cocktail_miosbj.png" class="small-img"></div>
      </a>
      <a href='https://rpg-character-creator.herokuapp.com/' target="_blank">
        <div class="project-card"><h4>RPG Character Creator</h4><div class="project-img"></div><img src="https://res.cloudinary.com/depg0gzqj/image/upload/v1580100042/Screenshot_from_2020-01-27_13-39-04_pdms8t.png" class="small-img"></div>
      </a>
    </div>
  </div>

  <h3>CONTACT</h3>

  <div class="icons top-margin-small">
    <div class="icon footer-icon gmail transform"><a href="mailto:  tlum5555@gmail.com"><i class="fas fa-envelope"></i></a></div>
    <div class="icon footer-icon linkedin transform"><a href="https://www.linkedin.com/in/lum555/"><i class="fab fa-linkedin"></i></a></div>
    <div class="icon footer-icon git transform"><a href="https://github.com/lum555/"><i class="fab fa-github-square"></i></a></div>
  </div>

</div>
