<div class="header-container">
  <h1>Thomas Niblo</h1>
  <h2>ニブロ トーマス</h2>
  <h3>FULL-STACK WEB DEVELOPER</h3>
</div>
<div class="card-container">
  <h3>ABOUT ME</h3>
  <p>Welcome. My name is Tom, and I'm a developer aimed at creating responsive and sleek website designs. I have a background in design and content production, and since last year I've added programming skills to my repertoire.</p>

  <p>With experience working on MVP systems both as a solo developer and as parts of a larger team, and over 3 years experience of living in Japan. As a graduate of the #1 rated coding bootcamp in the world, Le Wagon, I'm keen to move on from solo projects and add my skills to an organised team.</p>

  <p>Outside of programming, I'm an avid reader, painter, animal lover and gamer.</p>

  <h3>SKILLS</h3>

  <p>My stack includes Ruby on Rails, HTML5, CSS, SASS, SQL, Javascript and Vue. Check out my <a href="https://github.com/lum555">github</a> or <a href="mailto:tlum5555@gmail.com">shoot me an e-mail</a> for further information!</p>

 <i class="fas fa-palette"></i>

  <h3>PROJECTS</h3>

  <strong><h4>Affini</h4></strong>
  <p>Affini is a relationship management system designed to enable users to import or create contacts and automatically schedule meetings or messages. The aim is to simplify maintaining a network of both personal and professional contacts. I worked on many of the front-end aspects such as page design and animation, as well setting up the MVP infrastructure.</p>

  <strong><h4>Edumate</h4></strong>
  <p>Edumate is a teacher-student marketplace with a mission to connect prospectives students with freelance experts in their chosen fields. Teachers are able to post their own lessons and prices while students are able to search from a variety of search criteria and rate their experience. I worked on a wide range of front-end and back-end aspects of the website such as search functionality, page design and security authentication.</p>

  <strong><h4>The Watering Hole</h4></strong>
  <p>A simple application designed to store and display exotic cocktails from around the world. The focus is to show front-end design and animation work with a primarily dark background. I worked on the project by myself.</p>

  <strong><h4>RPG Character Creator</h4></strong>
  <p>Created in one day as part of a SOLO coding challenge, the goal was to create a functional MVP application with a user-friendly front-end from scratch. The application allows users to create their own characters for tabletop RPG systems and store information such as names, portraits and equipment for said characters.</p>
</div>
